/* body{
  display: none !important;
}
html{
  position: relative !important;
}
html:before{
  content: "Доступ к теме ограничен";
  width: 300px !important;
  height: 300px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 36px !important;
  text-align: center !important;
  color: red !important;
  border: 5px solid red !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50% -50%) !important
}
p{
  display: none !important;
}
h1{
  display: none !important;
}
h2{
  display: none !important;
}
h3{
  display: none !important;
}
h4{
  display: none !important;
}
h5{
  display: none !important;
}
h6{
  display: none !important;
}
span{
  display: none !important;
}
div{
  display: none !important;
} */
